* {
    margin: 0 auto;
}

.content {
    height: 100vh;
    width: 1020px;
}

.web {
    font-family: 'M PLUS 1p', sans-serif;
    overflow: hidden;
    background-color: #F6F5F0;
}

/*ここから見出し*/
.top h1 {
    background-color: #22b573;
    color: #fff;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 70px;
    padding: 3%;
}

/*ここからメニューバー*/
.bar {
    justify-content: space-around;
    overflow: hidden;
    list-style-type: none;
    background-color: #fff;
    color: #22b573;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.bar li {
    float: left;
    text-align: center;
    width: 18%
}

.bar li a {
    display: block;
    padding: 5%;
    width: 100%;
    text-decoration: none;
    color: #22b573;
}

.bar li a:hover:not(.active) {
    background-color: #22b573;
    color: #fff;
}

.bar li.right {
    float: right;
}

@media screen and (max-width: 480px) {

    .topnav li.right,
    .topnav li {
        float: none;
    }
}

/*ここからＡＢＯＵＴ*/
.about h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 5%;
}

.about h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #22b573;
}

.about p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    font-size: 23px;
    padding: 5% 29%;
    line-height: 40px;
}

/*ここからＳＣＨＥＤＵＬＥ*/
.schedule h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 5%;
}

.schedule h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #22b573;
}

.schedule-img {
    margin-top: 7%;
    text-align: center;
    margin-left: 8%;
}

/*ここから活動場所*/
.access h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 5%;
}

.access h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #22b573;
}

.right h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #4d4d4d;
    padding-top: 5%;
    text-align: none;
    width: 50%
}

.right h4 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #4d4d4d;
    padding-top: 17%;
}

.right p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #4d4d4d;
    padding-top: 10%;
}

.right a {
    color: #22b573;
}

.access-item {
    border-radius: 10px;
    padding: 0px;
    width: 80%;
    height: 60vh;
    padding-bottom: 10%;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 7%;
    margin-right: 10%;
}

.right {
    margin-left: 25%;
}

/*ここから下のバー*/

ul.last-nav {
    padding: 0%;
    list-style-type: none;
    background-color: #22b573;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.last-nav li {
    width: 10%;
    margin-top: 2.5%;
}

ul.last-nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.last-nav li a:hover:not(.active) {
    color: #dacc2c;
}

.last-name {
    background-color: #22b573;
    color: #fff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 200;
    font-size: 13px;
}

/*ここから上へボタン*/
#topbutton {
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 15px;
    font-size: 30px;

}

#topbutton a {
    width: 40px;
    height: 40px;
    background: #22b573;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 50%;
    opacity: 0.8;
    text-align: center;
}

#topbutton a:hover {
    text-decoration: none;
    background: #fff;
    color: #22b573;
}

/*ふわっとスクロール*/

.fadein {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.5s;
}

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
