* {
    margin: 0 auto;
}

.content {
    height: 100vh;
    width: 1020px;
}

.web {
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #F6F5F0;
}


/*ここからタイトル*/

#slide {
    position: relative;
    padding: 0;
    margin: 0;
    height: 670px;
}

#slide img {
    position: absolute;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
}

ul.nav {
    overflow: hidden;
    margin-top: 0px;
    padding-top: 0px;
    list-style-type: none;
    background-color: #22b573;
}

ul.nav li {
    float: left;
    justify-content: space-between;
    width: 20%;
    height: 5%;
}

ul.nav li a {
    display: block;
    padding: 9px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

ul.nav li img {
    display: block;
    padding: 7px;
    text-align: center;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #fff;
    color: #22b573;
}

@media screen and (max-width: 480px) {
    ul.topnav li {
        float: none;
    }
}

/*ここからMESSAGE*/
.massage h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 4%;
}

.massage h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #22b573;
}

.massage p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: Light;
    font-size: 30px;
    text-align: center;
    padding: 7%;
    line-height: 65px;
}

/*ここからＮＥＷＳ*/
.news {
    background-color: #efede8;
}

.news h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 4%;
}


.news h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #22b573;
}

.day p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: Light;
    font-size: 30px;
    text-align: center;
}

.day {
    font-family: 'M PLUS 1p', sans-serif;
    list-style: none;
    padding: 0.5em 0.7em;
    border: solid 2px #efede8;
    border-radius: 5px;
}

.day th {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #22b573;
}

.day td {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #4d4d4d;
}


/*ここからTOPIC*/

.topic-title h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 4%;
}


.topic-title h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #22b573;
}



.item {
    display: flex;
    padding-top: 4%;
    padding-bottom: 6%;
}

.item p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #4d4d4d;
    padding: 0% 4% 4% 4%;
}

.item h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4d4d4d;
    padding: 4%;
    ;
}

.item2 h3 {
    padding-top: 8.5%;
}

.item1 {
    background-color: #fff;
}

.item2 {
    background-color: #fff;
}


< !--ここから最後の帯--- > .last-name {
    background-color: #22b573;
    color: #fff;
}


.last-nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #22b573;
}

.last-nav li {
    float: left;
}

.last-nav li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.last-nav li a:hover:not(.active) {
    background-color: #fff;
    color: #22b573;
}

.last-nav li.right {
    float: right;
}

@media screen and (max-width: 480px) {

    .topnav li.right,
    .topnav li {
        float: none;
    }
}

/*ここから上へボタン*/
#topbutton {
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 15px;
    font-size: 30px;
}

#topbutton a {
    width: 40px;
    height: 40px;
    background: #fff;
    text-decoration: none;
    color: #22b573;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 50%;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

#topbutton a:hover {
    text-decoration: none;
    background: #22b573;
    color: #fff;
}
