* {
    margin: 0 auto;
}

.content {
    height: 100vh;
    width: 1020px;
}

.web {
    font-family: 'M PLUS 1p', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #F6F5F0;
}


/*ここからタイトル*/

#slide {
    position: relative;
    padding: 0;
    margin: 0;
    height: 669px;
}

#slide img {
    position: absolute;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

ul.nav {
    overflow: hidden;
    margin-top: 0px;
    padding-top: 0px;
    list-style-type: none;
    background-color: #22b573;
}

ul.nav li {
    float: left;
    justify-content: space-between;
    width: 20%;
    height: 5%;
}

ul.nav li a {
    display: block;
    padding: 9px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

ul.nav li img {
    display: block;
    padding: 7px;
    text-align: center;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: #fff;
    color: #22b573;
}

@media screen and (max-width: 480px) {
    ul.topnav li {
        float: none;
    }
}

@media screen and (max-width : 480px) {
    #slide {
        height: 176px;
        width: 100%;
    }

    #slide img {
        width: 100%;
        height: auto;
    }

    .logo {
        width: 80%;
        height: 80%;

    }

    ul.nav li a {
        padding: 9px;
        margin-top: 5px;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
    }

    .small {
        font-size: 1px;
        font-weight: 100;
    }

    ul.nav {
        padding-left: 0%;
    }
}


/*ここからMESSAGE*/
.massage h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 5%;
}

.massage h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #22b573;
}

.massage p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: Light;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    ;
    padding-bottom: 7%;
    line-height: 65px;
}

@media screen and (max-width : 480px) {
    .massage h2 {
        font-size: 40px;
        padding-top: 10%;
    }

    .massage h3 {
        font-size: 25px;
    }

    .massage p {
        font-size: 15px;
        line-height: 40px;
        padding-bottom: 15%;
    }
}

/*ここからＮＥＷＳ*/
.news {
    background-color: #efede8;
}

.news h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 6%;
}


.news h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #22b573;
    padding-bottom: 5%;

}

.newslist {
    border-top: 1px solid #AAAAAA;
    width: 70%;
    list-style: none;
    padding-left: 0%;
    padding-bottom: 7%;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 60;
}

.newslist li {
    border-bottom: 1px solid #AAAAAA;
    font-size: 14px;
}

.newslist li a {
    box-sizing: border-box;
    color: #000000;
    display: table;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    width: 100%;
}

.newslist li a:hover {
    background: #ccc;
    text-decoration: none;
}

.newslist li div {
    display: table-cell;
    width: 144px;
}

.newslist li p {
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
    color: #4d4d4d;
    width: 70%;
}

/* 時間の設定 */
.newslist li time {
    display: table-cell;
    vertical-align: top;
    color: #22b573;
    width: 15%;
    padding-top: 0.4%;
    padding-left: 3%;
}

/* カテゴリの設定 */
.newslist li .tagu {
    background-color: #22b573;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 0 2px;
    text-align: center;
    width: 7%;
}

.sirusi {
    width: 20%;
    font-size: 20px;
    padding-right: 0%;
    color: #4d4d4d;
}

@media screen and (max-width : 480px) {
    .news h2 {
        font-size: 40px;
        padding-top: 10%;
    }

    .news h3 {
        font-size: 25px;
    }

    .newslist {
        display: block;
        width: 90%;
        padding-bottom: 15%;
    }

    .newslist li .tagu {
        font-size: 2px;
    }

    .sirusi {
        font-size: 10px;
    }

    .newslist li time {
        font-size: 1px;
        padding-top: 4px;
        padding-left: 0%;
    }

    .newslist li p {
        font-size: 9px;
        padding-left: 3px;
    }
}


/*ここからTOPIC*/

.topic-title h2 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding: 0px;
    color: #22b573;
    padding-top: 4%;
}


.topic-title h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #22b573;
}

.item {
    display: flex;
    padding-top: 4%;
    padding-bottom: 6%;
}

.item p {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #4d4d4d;
    padding: 0% 4% 4% 4%;
}

.item h3 {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4d4d4d;
    padding: 4%;
}

.item2 h3 {
    padding-top: 8.5%;
}

.item1 {
    background-color: #fff;
}

.item2 {
    background-color: #fff;
}

.item2 img {
    padding-top: 2%;
}

@media screen and (max-width : 480px) {
    .topic h2 {
        font-size: 40px;
        padding-top: 10%;
    }

    .topic h3 {
        font-size: 25px;
    }

    .item img {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .item p {
        font-size: 9px;
    }

    .item h3 {
        font-size: 15px;
    }

    .item {
        flex-direction: column;
        width: 80%;
    }

    .item1 {
        margin-top: 7%;
        margin-bottom: 10%;
    }

    .item2 {
        margin-bottom: 7%;
    }
}

/*ここから最後*/


.last-nav {
    justify-content: space-around overflow: hidden;
    list-style-type: none;
    background-color: #22b573;
    color: #fff;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.last-nav li {
    float: left;
    text-align: center;
    width: 19%;
}

.last-nav li a {
    display: block;
    padding: 25px;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.last-nav li a:hover:not(.active) {
    background-color: #fff;
    color: #22b573;
}

.last-nav li.right {
    float: right;
}

@media screen and (max-width: 480px) {

    .topnav li.right,
    .topnav li {
        float: none;
    }
}

.last-name {
    background-color: #22b573;
    color: #fff;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 1%;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 200;
    font-size: 13px;
}

@media screen and (max-width : 480px) {
    .last-name {
        padding-top: 15%;
    }

    .last-nav li {
        width: 17%;
        justify-content: space-between;
        padding: 0%;
        margin: 0%;
    }

    .last-nav li a {
        padding: 25% 0% 0% 0%;
    }
}

/*ここから上へボタン*/
#topbutton {
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 15px;
    font-size: 30px;

}

#topbutton a {
    width: 30px;
    height: 30px;
    background: #22b573;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 50%;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-opacity: 1;
    opacity: 0.8;
    text-align: center;
}

#topbutton a:hover {
    text-decoration: none;
    background: #fff;
    color: #22b573;
}
